.featureComparisonBanner {
  padding: 50px 0 0;
  color: black;
  display: none;

  .sideBySideBar {
    max-width: 1134px;
    margin: 0 auto 60px;
    text-align: center;

    .nameContent {
      font-family: "Lab Grotesque";
      font-weight: 600;
      font-size: 40px;
      line-height: 130%;
      color: rgba(40, 46, 97, 1);
      padding-top: 0;
      max-width: 840px;
      text-align: center;
      margin: 40px auto;
      letter-spacing: 0.2px;
      margin-top: 0;
    }

    .descriptionContent {
      font-family: "Lab Grotesque";
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 150%;
      text-align: center;
      color: rgba(40, 46, 97, 1);;
    }
  }

  .features {
    background-color: #414591;
    color: white;
    padding: 20px;
    .headerBestFeature {
      margin-bottom: 20px;
    }
    .getStarted {
      background: linear-gradient(270deg, #fe895e 0%, #ef5a92 100%);
      border-radius: 5px;
      font-family: "Lab Grotesque";
      font-style: normal;
      width: 50%;
      height: 50px;
      margin: 15px 0;
      font-size: 15px;
      line-height: 20px;
      font-weight: 600;
      color: #ffffff;
      padding: 0 10px;
      text-transform: initial;
    }
  }

  .tableWrapperContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .tableComparison {
      width: 100%;
      border-radius: 15px;
      overflow: hidden;
      perspective: 1px;
      box-shadow: 35.448px 38.9928px 71.7823px rgba(111, 118, 138, 0.160784);

      .logoPrice {
        display: flex;
        background: #ffffff;
        justify-content: space-between;
        background-color: #414591;
        &:first-child {
          text-transform: uppercase;
          padding: 30px 58px 6px 31px;
          color: #434345;
          font-size: 15px;
          font-weight: bold;
        }
        &:nth-child(2) {
          .proxyCost {
            font-weight: 600;
            font-size: 60.4199px;
            line-height: 66px;
            width: 162px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            color: #f5f6fa;

            .proxyCostCurrency {
              font-weight: normal;
              font-size: 21.2688px;
              line-height: 26px;
            }
          }
        }
      }

      .logoImage {
        display: flex;
        flex-direction: row;
        align-self: center;
      }

      .logoPriceData {
        display: flex;
        flex-direction: column;
        align-items: center;

        .proxyCost {
          font-weight: 600;
          font-size: 55px !important;
          width: 105px;
          justify-content: center;
          line-height: 66px;
          display: flex;
          align-items: flex-start;
          color: white;

          .proxyCostCurrency {
            color: #9d9eaa !important;
            font-weight: normal;
            font-size: 21.2688px;
            line-height: 26px;
          }
        }

        .proxyCostperGB {
          color: white;
          font-weight: normal;
          font-size: 15.9516px;
          line-height: 18px;
        }
      }

      .logoPriceOther {
        padding: 23px 61px 31px 31px;
        display: flex;
        background: #ffffff;
        justify-content: space-between;

        .proxyCost {
          font-weight: 600;
          font-size: 55px !important;
          width: 105px;
          justify-content: center;
          line-height: 66px;
          display: flex;
          align-items: flex-start;
          color: #434345;

          .proxyCostCurrency {
            color: #9d9eaa !important;
            font-weight: normal;
            font-size: 21.2688px;
            line-height: 26px;
          }
        }

        .proxyCostperGB {
          color: #9d9eaa;
          font-weight: normal;
          font-size: 15.9516px;
          line-height: 18px;
        }
      }
    }
  }
}

@media screen and (max-width: 1016px) {
  .featureComparisonBanner {
    display: block;
  }
}

@media screen and (max-width: 968px) {
  .featureComparisonBanner {
    .sideBySideBar {
      .nameContent {
        font-size: 35px !important;
      }
    }
  }
}

@media screen and (max-width: 770px) {
  .featureComparisonBanner {
    .sideBySideBar {
      .nameContent {
        font-size: 32px !important;
      }
      .descriptionContent {
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .featureComparisonBanner {
    .sideBySideBar {
      .nameContent {
        width: 90%;
        margin: 0;
      }
      .descriptionContent {
        width: 90%;
      }
    }
  }
  .logoPriceOther {
    padding: 23px 25px 31px 31px !important;
  }
  .logoPrice:first-child {
    padding: 30px 25px 6px 31px !important;
  }
  .features {
    .getStarted {
      width: 100% !important;
    }
  }
}

@media screen and (max-width: 375px) {
  .featureComparisonBanner {
    .tableWrapperContainer {
      .tableComparison {
        .logoPriceOther {
          flex-direction: column !important;
          .proxyCost {
            margin: 0px;
            width: 100%;
          }
        }
        .logoPriceData {
          justify-content: center;
        }
      }
    }
  }
}
