.useCases{
  // height: 1150px;
  .description {
    font-family: Lab Grotesque;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    /* or 140% */


    /* subtle/500 */

    color: #6B7280;
  }
}